// This are the styles responsible for displaying streeet tycoon in style
.test-maj {
    color: aquamarine;
}



// :::::::::::::::
// Variables
// :::::::::::::::

// :::::::::::::::
// Variables
// :::::::::::::::



// :::::::::::::::
// General styles
// :::::::::::::::
body {
    background-color: #02060E;
}
// :::::::::::::::
// General styles
// :::::::::::::::



// :::::::::::::::
// Hero section
// :::::::::::::::

// :::::::::::::::
// Hero section
// :::::::::::::::



// :::::::::::::::
// Planet earth animation
// :::::::::::::::
#planet-earth-animation {
    @media (max-width: 500px) {
        height: 300px;
    }
}
// :::::::::::::::
// Planet earth animation
// :::::::::::::::


// :::::::::::::::
// Scrollable info section
// :::::::::::::::
#scrollable-section-text {
    background-color: rgb(15, 53, 73);
}

#mg-scrolable-image-container {
    background-color: aqua;
}
// :::::::::::::::
// Scrollable info section
// :::::::::::::::



// :::::::::::::::
// Section styles
// :::::::::::::::

// :::::::::::::::
// Section styles
// :::::::::::::::