// This are the styles responsible for displaying streeet tycoon in style
.test-maj {
    color: aquamarine;
}

// :::::::::::::::
// General styles
// :::::::::::::::
body {
    background-color: #02060E;
}
// :::::::::::::::
// General styles
// :::::::::::::::



// :::::::::::::::
// Planet earth animation
// :::::::::::::::
#planet-earth-animation {
    @media (max-width: 500px) {
        height: 300px;
    }
}
// :::::::::::::::
// Planet earth animation
// :::::::::::::::


// :::::::::::::::
// Scrollable info section
// :::::::::::::::
#scrollable-section-text {
    background-color: rgb(4, 36, 53);
}
// .visible-content {
//     display: none; !important
// }
// :::::::::::::::
// Scrollable info section
// :::::::::::::::



// :::::::::::::::
// Section styles
// :::::::::::::::

// :::::::::::::::
// Section styles
// :::::::::::::::